---
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: None
IndentPPDirectives: BeforeHash
AlignEscapedNewlines: DontAlign
ColumnLimit: 0
ForEachMacros:
  # CppUTest class macro
  - TEST_GROUP
